* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 80px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
}

.parent {
    margin: 0 auto;
    background-color: #fff;
    width: 80%;
    height: 200vh;

}

.banner {
    position: relative;
    width: 100%;
    height: 40em;
    margin-top: 50px;

    background-color: brown;


    background-color: #fff;
}


.content>ul {
    overflow: auto;
    white-space: nowrap;
    background-color: #fff;
    margin: 30px 0 30px 0;
}

/* needs to be responsive */

.content>ul>li {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin:20px;
    padding: 20px;
    height: 250px;
    width: 400px;
    /* height:250px;
    width: auto; */
}

/* needs to be checked if this breaks on phone view */

.content>ul>li>div>div {
    /* white-space: normal; */
    position: relative;
    top: 200px;
}

.content>ul>li>div>div>p {
    width:100%;

}

footer {
    width: 100%;
    background-color: #3f3f3f;
    height: 300px;

}

body {
    margin: 0%;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.active,
.collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.list {
    list-style: none;
    color: white;
}

.normal {
    padding: 30px;
}

.title {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copyright {
    text-align: center;
    color: white;
    padding-bottom: 10px;
}

a:hover {
    color: red;
}

a:link {
    text-decoration: none;
}

.a {
    color: black;
}

a {
    color: white;
}

ul {
    padding-top: 40px;
}

.list1 {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list2 {
    list-style: none;
    padding-left: 0px;
}


.list3 {
    justify-content: space-between;
    list-style: none;
    display: flex;
    padding-left: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .normal {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .responsive {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .responsive {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .responsive {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .responsive {
        display: none;
    }

}